<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- VUE.JS -->
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <title>VUE Dischi</title>
    </head>
    <body>

        <div id= "root">

            <header>
                <div class="logo-header">
                    <img src="https://icons.iconarchive.com/icons/wwalczyszyn/android-style-honeycomb/256/Music-icon.png" alt="logo">
                </div>
                <div class="title-header">
                    <h1>My album</h1>
                </div>
                <div class="">
                    <select v-model="selected" >
                        <option value="All types"> All types </option>

                        <option v-for="genre in typeAlbum" value="genre">{{ genre }}</option>

                    </select>
                </div>
            </header>

            <section>
                <div class="box" v-for="(element, index) in album"
                v-if="(selected == element.genre || selected == 'All types')">
                    <img :src="element.poster" :alt="element.title">
                    <h2>{{element.title}}</h2>
                    <h3>{{element.author}}</h3>
                    <p>{{element.year}}</p>

                </div>

            </section>

        </div>





        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
